body{
    background-image: url(https://wallpaperaccess.com/full/8045532.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 840px;
    display: flex;
    
}

.images{
    
    align-self: flex-end;
    margin-bottom: 60px;
    margin-right: 100px;
    height: 9em;
}

#boss{
    margin-left: 250px;
}

